.horizontal-categories {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d3c2c2;
  }
  
  .category-links {
    display: flex;
    gap: 5px;
  }
  
  .category-link {
    text-decoration: none;
    color: #0c0c0c;
    padding: 4px;
    border: 3px solid #eb4141;
    border-radius: 10px;
  }
  
  .category-link:hover {
    background-color: #ffffff;
  }
  